docs/
tests/
poetry.lock
.mypy_cache
.pytest_cache
.ruff_cache

# Ignore VCS
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments (both in-project and external)
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log
*.out

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Docker artifacts
Dockerfile
docker-compose.yml
